.box{
    border-radius: 5px;
    background: linear-gradient(316.25deg, #6C63FF 2.96%, #8E54E9 96.36%);
    width: 40%;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    box-shadow: 10px 10px 20px rgb(168, 146, 247);
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
/* fade in animation  */
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.img-box > img{
    display: block;
    margin: auto;
    margin-top: 3%;
}
.quiz-name{
    font-size: 25px;
    padding: 10px;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}

.team-name{
    padding: 10px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
}

.start-btn{
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(34, 46, 42);
    transition: background 1s ease-in-out;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
}
.start-btn:hover{
    background: white;
    color: rgb(90, 110, 58);
}

/* quiz-box */
.main-quiz-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "timer quiz-box submit-container";
}

.quiz-logo{
    grid-area: "logo";
    position: fixed;
    margin-left: 40px;
}
.quiz-box{
    grid-area: quiz-box;
    width: 100%;
    background: rgb(249, 240, 253);
    margin: auto;
}

.question-container{
    padding: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    transition: border 1s ease-in-out;
}

.question-container:hover{
    border-left: 3px solid rgb(123, 89, 248);
    background: rgb(224, 217, 250);
}

.question{
    margin-left: 5px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 10px;
}

.options{
    margin-left: 10px;
}
.option{
    margin-right: 5px;
}
.option-ans{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-right: 20px;
}
.submit-container{
    grid-area: submit-container;

}
.submit-btn{
    position: fixed;
    margin-top: 15px;
    background:  rgb(168, 146, 247);
    padding: 10px 20px;
    border: 2px solid rgb(168, 146, 247);
    margin-left: 3%;
    margin-right: 10px;
    font-size: 18px;
    font-size: 500;
    transition: background 1s ease-in-out;
    border-radius: 3px;
    margin-top: 3%;
}
.submit-btn:hover{
    background: white;
}

.timer{
    grid-area: timer;
    font-size: 20px;
}

.timer > h1{
    margin-top: 2%;
    margin-left: 3%;
    position: fixed;
    font-size: 4rem;
}