.box{
    border-radius: 5px;
    background: linear-gradient(to right, #aaffa9, #11ffbd);
    width: 40%;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    box-shadow: 10px 10px 20px rgb(100, 158, 141);
}

.quiz-name{
    font-size: 25px;
    padding: 10px;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}

.team-name{
    padding: 10px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}

.start-btn{
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(34, 46, 42);
    transition: background 1s ease-in-out;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
.start-btn:hover{
    background: white;
    color: rgb(90, 110, 58);
}

/* quiz-box */
.main-quiz-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "timer quiz-box submit-container";
}


.quiz-box{
    grid-area: quiz-box;
    width: 100%;
    background: rgb(241, 252, 248);
    margin: auto;
}

.question-container{
    padding: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    transition: border 1s ease-in-out;
}

.question-container:hover{
    border-left: 3px solid rgb(47, 255, 158);
    background: rgba(201, 247, 221, 0.74);
}

.question{
    margin-left: 5px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}

.options{
    margin-left: 10px;
}
.option{
    margin-right: 5px;
}
.option-ans{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-right: 20px;
}
.submit-container{
    grid-area: submit-container;

}
.submit-btn{
    position: fixed;
    margin-top: 15px;
    background:  #11ffbd;
    padding: 10px 20px;
    border: 2px solid #11ffbd;
    margin-left: 3%;
    margin-right: 10px;
    font-size: 18px;
    font-size: 500;
    transition: background 1s ease-in-out;
    border-radius: 3px;
}
.submit-btn:hover{
    background: white;
    color: #3f504b;
}

.timer{
    grid-area: timer;
    font-size: 20px;
}

.timer > h1{
    margin-left: 5%;
    position: fixed;
}